/*--------------*/
/* 
.page-container {
    display: grid;
    grid-template-columns: 10% 100% 10%;
    align-items: center;
  }

  .container-left-col {
    grid-column: 1;
  }
  
  .container-center-col {
    grid-column: 2;
  } */

  /*--------------*/

  .arrow {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: Arial, sans-serif;
  }

  .triangle-up {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid hsl(215, 80%, 35%);    
  }
  
  .rectangle {
    width: 8vh;
    height: 100vh;  
    background-color: #333;
    background: linear-gradient(hsl(215, 80%, 35%), hsl(0, 0%, 95%));
    display: flex;
    justify-content: center;
    align-items: start;
    text-align: center;
  }
  
  .vertical-text {
    transform: rotate(-90deg);
    transform-origin: center;
    white-space:nowrap;
    font-weight: bold;
    font-size: 2em;
  }

  .principiante-text{
    padding-right: 100rem;
  }
  
  .triangle-down {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid hsl(0, 0%, 95%);
  }
  
  /*--------------*/
  
  .hexagon {
  /* position: relative; */
  /* display: inline-block;   */
  /* left/right margin approx. 25% of .hexagon width + spacing */
  /* margin: 2px 19px; */
  background-color: hsl(215, 80%, 35%);
  /* text-align: center; */
}

.hexagon,
.hexagon::before,
.hexagon::after {
  /* easy way: height is width * 1.732
  actual formula is 2*(width/(2*Math.tan(Math.PI/6)))
  remove border-radius for sharp corners on hexagons */
  /* width: 67px;
  height: 116px; */
  /* border-radius: 0;     */
}

.hexagon::before {
  /* background-color: inherit;
  content: "";
  position: absolute;
  left: 0;
  transform: rotate(-60deg); */
}

.hexagon::after {
  /* background-color: inherit;
  content: "";
  position: absolute;
  left: 0;
  transform: rotate(60deg); */
}

/* .hexagon:nth-child(even) { */
  /* top approx. 50% of .hexagon height + spacing */
  /* top: 59px;     */
/* } */

.hexagon:hover {
  /* background-color: hsla(197, 100%, 42%);
  cursor: pointer;
  z-index: 105; */
}

.hexagon:active {
  /* background-color: hsla(60, 75%, 50%, 1.0);
  z-index: 110; */
}

.hexagon .icon {
  /* position: absolute; */
  /* bottom: 0;
  left: 50%; */
  /* transform: translateX(-50%); */
  /* font-size: 2rem;
  color: hsl(0, 0%, 90%);   */
}

.hexagon {
  /* position: relative; */
  /* display: inline-block; */
  /* width: 67px;
  height: 116px; */
  /* margin: 1px 18px;     */
}

.hexagon:nth-child(even) {
  /* top: 59px;     */
}

.hexagontent {
  /* position: absolute;
  top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* width: 140%; */
  /* font-size: 10px;
  font-weight: 50; */
  /* line-height: 1; */
  /* color: cornsilk; */
  /* z-index: 100;     */
}


.honeycomb {
  /* margin: 0 auto; */
  /* text-align: center;   */
}


/*------------*/


.square-image {
  width: 100%;
  object-fit: cover;
}

.header-section {
  display: grid;
  /* background-color: #ccc; */
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 15vh;  
}

.header-grid-item {
  /* background-color: #ccc; */
  text-align: center;
}

.header-section .main-title {
  font-weight: bold;
  font-size: 5em;
  color: black;
  margin-bottom: 0.1em;
}

.header-section .secondary-title {
  background-color: black;
  color: white;
  font-size: 2.5em;
  font-weight: normal;
  margin-bottom: 0.5em;
}

.header-section .description-text {
  font-size: 1em;
  color: black;
  margin-bottom: 1.2em;
}


/*--------------*/
.flex-container {
  display: flex;
  justify-content: space-around;
}

.skill-tree-header-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.skill-dark-outlined-icons{
  color: black;

}

.header-grid-container{  
  display: grid;
  grid-template-columns: 10% 90%;
  /* width: 100vh; */
}

.header-left-col {
  grid-column: 1;
}

.header-center-col {
  grid-column: 2;
}

.header-center-col {
  grid-column: 3;
}

/* New aproach*/
.main{
  display: flex;
  --s: 150px; /* size */
  --r: .85; /* ratio */
  /* clip-path */
  --h: 0.25;  
  --v: 0.5; 
  --hc:calc(clamp(0,var(--h),0.5) * var(--s)) ;
  --vc:calc(clamp(0,var(--v),0.5) * var(--s) * var(--r)); 
  
  /*margin */
  --mv: 4px; /* vertical */
  --mh: calc(var(--mv) + (var(--s) - 2*var(--hc))/2); /* horizontal */
  /* for the float*/
  --f: calc(2*var(--s)*var(--r) + 4*var(--mv)  - 2*var(--vc) - 2px);
}

.container {
  font-size: 0; /* disable white space between inline block element */
  padding-bottom:calc(var(--s)*var(--r) + var(--mv));

}
.container div{
  width: var(--s);
  margin: var(--mv) var(--mh);
  height: calc(var(--s)*var(--r)); 
  display: inline-block;
  font-size:initial;
  clip-path: polygon(var(--hc) 0, calc(100% - var(--hc)) 0,100% var(--vc),100% calc(100% - var(--vc)), calc(100% - var(--hc)) 100%,var(--hc) 100%,0 calc(100% - var(--vc)),0 var(--vc));
  background: rgb(32, 133, 216);
  margin-bottom: calc(var(--mv) - var(--vc)); 
}

.container::before{
  content: "";
  width: calc(var(--s)/2 + var(--mh));
  float: left;
  height: 135%;
  shape-outside: repeating-linear-gradient(     
                   #0000 0 calc(var(--f) - 2px),      
                   #000  0 var(--f));
}

.width-icons{
  width: 50%;
}

.flecha{
  width: 80%;
  height: 70rem;
  padding: 5%
}