@import url(https://fonts.googleapis.com/css?family=Merriweather);

*, *::before, *::after {
margin: 0;
padding: 0;
box-sizing: border-box;  
}


body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}


.title{
    width:60%;
    max-width:800px;
}

img {
    max-width: 100%;
}

.row{
    display:flex;
    align-content:space-between;
}


.arrow{
  width:20%;
  max-width: 400px;
}

.hexagons{
    width:70%;
    max-width:700px;
}

.code-pretzel, .circuit-board{
    width:15%;
    max-width:400px;
}


.description-block{
    background-color:black;
    color:whitesmoke;
}

h1{
    text-align:center;
}