@import url(https://fonts.googleapis.com/css?family=Merriweather);

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

html {
  font-family: Merriweather, Georgia, serif;
  font-size: 62.5%;
}

body {
  color: hsl(0, 0%, 95%);
  background-color: hsl(0, 0%, 95%);
  max-width: 920px;
  margin: 0 auto;
  padding: 30px;
  bottom: 0;
  top: 0;
}

.hexagon {
  position: relative;
  display: inline-block;  
  /* left/right margin approx. 25% of .hexagon width + spacing */
  margin: 2px 19px;
  background-color: hsl(215, 80%, 35%);
  text-align: center;
  /*border: 2px solid red; /* Set border style, width, and color */
}

.hexagon,
.hexagon::before,
.hexagon::after {
  /* easy way: height is width * 1.732
  actual formula is 2*(width/(2*Math.tan(Math.PI/6)))
  remove border-radius for sharp corners on hexagons */
  width: 67px;
  height: 116px;
  border-radius: 0;    
}

.hexagon::before {
  background-color: inherit;
  content: "";
  position: absolute;
  left: 0;
  transform: rotate(-60deg);
}

.hexagon::after {
  background-color: inherit;
  content: "";
  position: absolute;
  left: 0;
  transform: rotate(60deg);
}

.hexagon:nth-child(even) {
  /* top approx. 50% of .hexagon height + spacing */
  top: 59px;    
}

.hexagon:hover {
  background-color: hsla(197, 100%, 42%);
  cursor: pointer;
  z-index: 105;
}

.hexagon:active {
  background-color: hsla(60, 75%, 50%, 1.0);
  z-index: 110;
}

.hexagon .icon {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  color: hsl(0, 0%, 90%);  
}

.hexanone {
  position: relative;
  display: inline-block;
  width: 67px;
  height: 116px;
  margin: 1px 18px;    
}

.hexanone:nth-child(even) {
  top: 59px;    
}

.hexagontent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 140%;
  font-size: 1.4rem;
  line-height: 1.2;
  z-index: 100;    
}

.ibws-fix {
  /* inline-block whitespace fix */
  font-size: 0;  
}

.honeycomb {
  margin: 0 auto;
  text-align: center;  
}


/*----------*/

.arrow {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: Arial, sans-serif;
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid hsl(215, 80%, 35%);    
}

.rectangle {
  width: 8vh;
  height: 100vh;  
  background-color: #333;
  background: linear-gradient(hsl(215, 80%, 35%), hsl(0, 0%, 95%));
  display: flex;
  justify-content: center;
  align-items: start;
  text-align: center;
}

.vertical-text {
  transform: rotate(-90deg);
  transform-origin: center;
  white-space: nowrap;
  font-size: 2em;
  font-weight: bold;
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid hsl(0, 0%, 95%);
}

/*--------------*/

.page-container {
  display: grid;
  grid-template-columns: 10% 100% 10%;
  align-items: center;
}

.container-left-col {
  grid-column: 1;
}

.container-center-col {
  grid-column: 2;
}

/*------------*/

.header-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 15vh;  
}

.header-section .main-title {
  font-weight: bold;
  font-size: 5em;
  color: black;
  margin-bottom: 0.1em;
}

.header-section .secondary-title {
  background-color: black;
  color: white;
  padding: 0.2em;
  font-size: 2.5em;
  font-weight: normal;
  margin-bottom: 0.5em;
}

.header-section .description-text {
  font-size: 1em;
  color: black;
  margin-bottom: 1.2em;
}


/*--------------*/
.flex-container {
  display: flex;
  justify-content: space-around;
}

.skill-tree-header-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.skill-dark-outlined-icons{
  color: black;

}

.skill-tree-header-container{
  display: grid;
  grid-template-columns: 10% 100%;
  align-items: center;
}

.header-left-col {
  grid-column: 1;
}

.header-center-col {
  grid-column: 2;
}

.header-center-col {
  grid-column: 3;
}